 #loading{
  position: absolute;
  width: 100vw;
  top: -1000px;
  padding: 100px 200px;
  background: beige;
  font: 30px 'Arial', sans-serif;
  text-align: center;
}

#btn{
  padding: 10px;
  background: #66755d;
  text-transform: uppercase;
  border: none;
  color: white;
}
#btn:hover {
  cursor: pointer;
  background: #7d8f72;
}
#btn:focus, #btn:visited{
  outline: none;
}

#message {
  display: none;
}
